<section id="Cards" class="py-4 px-4 pb-12 pt-8 text-white">
  <div class="grid grid-cols-3 grid-rows-3 gap-2 w-full">
    
    <!-- CARD WEB -->
    <a href="https://www.edunlu.unlu.edu.ar/" target="_blank"
      class="group relative rounded-3xl overflow-hidden bg-gradient-to-br from-card-web-1 to-card-web-2
      border border-white/25 flex flex-col col-span-2 items-start hover:scale-105 hover:contrast-125
      focus:scale-105 focus:contrast-125 focus:ring-2 focus:ring-white/50 active:scale-110 active:contrast-150
      transition-all duration-300 p-7 min-h-[180px]">
      
      <span class="absolute bottom-2 left-4 font-bold text-lg sm:text-2xl">WEB</span>
      <img src="/logos/card-1.svg" alt="Imagen de la tarjeta"
        class="size-36 absolute -right-2 -bottom-4 group-hover:-rotate-12 group-hover:scale-125
        group-focus:-rotate-12 group-focus:scale-125 group-active:-rotate-12 group-active:scale-125
        transition-transform" />
      <span class="absolute top-2 left-2 text-lg px-2 py-0.5">Visitá nuestro sitio</span>
    </a>

    <!-- CARD PRECOMPRA -->
    <a href="https://www.edunlu.unlu.edu.ar/?q=node/250" target="_blank"
      class="group relative rounded-3xl overflow-hidden bg-gradient-to-br from-card-compra-1 to-card-compra-2
      border border-white/25 flex flex-col col-span-1 items-start hover:scale-105 hover:contrast-125
      focus:scale-105 focus:contrast-125 focus:ring-2 focus:ring-white/50 active:scale-110 active:contrast-150
      transition-all duration-300 p-7 min-h-[180px]">
      
      <span class="absolute bottom-8 left-4 font-bold text-xs z-10">PRE</span>
      <span class="absolute bottom-2 left-4 font-bold text-lg sm:text-2xl z-10">COMPRA</span>
      <img src="/logos/card-2.svg" alt="Imagen de la tarjeta"
        class="size-36 absolute -right-2 -bottom-4 group-hover:-rotate-12 group-hover:scale-125
        group-focus:-rotate-12 group-focus:scale-125 group-active:-rotate-12 group-active:scale-125
        transition-transform z-0" />
      <span class="absolute top-2 left-2 text-lg px-2 py-0.5">Hacé tu pedido</span>
    </a>

    <!-- CARD BOLETÍN -->
    <a href="https://www.edunlu.unlu.edu.ar/?q=node/334" target="_blank"
      class="group relative rounded-3xl overflow-hidden bg-gradient-to-br from-card-boletin-1 to-card-boletin-2
      border border-white/25 flex flex-col col-span-1 items-start hover:scale-105 hover:contrast-125
      focus:scale-105 focus:contrast-125 focus:ring-2 focus:ring-white/50 active:scale-110 active:contrast-150
      transition-all duration-300 p-7 min-h-[180px]">
      
      <span class="absolute bottom-2 left-4 font-bold text-lg sm:text-2xl z-10">BOLETÍN</span>
      <img src="/logos/card-3.svg" alt="Imagen de la tarjeta"
        class="size-36 absolute -right-2 -bottom-4 group-hover:-rotate-12 group-hover:scale-125
        group-focus:-rotate-12 group-focus:scale-125 group-active:-rotate-12 group-active:scale-125
        transition-transform z-0" />
      <span class="absolute top-2 left-2 text-lg px-2 py-0.5">Suscribite</span>
    </a>

    <!-- CARD CATÁLOGO -->
    <a href="https://www.edunlu.unlu.edu.ar/?q=node/19" target="_blank"
      class="group relative rounded-3xl overflow-hidden bg-gradient-to-br from-card-catalog-1 to-card-catalog-2
      border border-white/25 flex flex-col col-span-2 items-start hover:scale-105 hover:contrast-125
      focus:scale-105 focus:contrast-125 focus:ring-2 focus:ring-white/50 active:scale-110 active:contrast-150
      transition-all duration-300 p-7 min-h-[180px]">
      
      <span class="absolute bottom-2 left-4 font-bold text-lg sm:text-2xl z-10">CATÁLOGO</span>
      <img src="/logos/card-4.svg" alt="Imagen de la tarjeta"
        class="size-36 md:size-48 absolute -right-2 -bottom-4 group-hover:-rotate-12 group-hover:scale-125
        group-focus:-rotate-12 group-focus:scale-125 group-active:-rotate-12 group-active:scale-125
        transition-transform z-0" />
      <span class="absolute top-2 left-2 text-lg px-2 py-0.5">Conocé nuestras obras</span>
    </a>

    <!-- CARD NOVEDAD -->
    <a href="https://www.edunlu.unlu.edu.ar/?q=node/339" target="_blank"
      class="group relative rounded-3xl overflow-hidden bg-gradient-to-br from-rose-500 to-amber-600
      border border-white/25 flex flex-col col-span-3 items-start hover:scale-105 hover:contrast-125
      focus:scale-105 focus:contrast-125 focus:ring-2 focus:ring-white/50 active:scale-110 active:contrast-150
      transition-all duration-300 p-7 min-h-[180px]">
      
      <span class="absolute bottom-2 left-4 font-bold text-lg sm:text-2xl z-10">NOVEDAD</span>
      <img src="/logos/card-5.svg" alt="Imagen de la tarjeta"
        class="size-36 md:size-48 absolute -right-2 -bottom-4 group-hover:rotate-12 group-hover:scale-125
        group-focus:rotate-12 group-focus:scale-125 group-active:rotate-12 group-active:scale-125
        transition-transform z-0" />
      <span class="absolute top-2 left-2 text-lg px-2 py-0.5">📚 A orillas del cuento. Taller de Escritura Creativa</span>
    </a>

  </div>
</section>
